.item{
    background-color: rgb(253, 253, 253);
    display: inline-grid;
    box-shadow: 5px 5px 5px gray;
    padding: 5px;
}
.button{
    background-color: rgb(0, 98, 255);
    cursor: pointer;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}
.button:hover{
    background-color: rgb(0, 76, 199);
    cursor: pointer;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}
.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.subtext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12px;
}